BSKY_HANDLE=your_handle.bsky.social
BSKY_APP_PASSWORD=xxxx-xxxx-xxxx-xxxx
FEED_DOMAIN=yourdomain.com
DATABASE_PATH=data/feeds.db
FEED_URI_POLITICS=at://did:plc:tl4dbarzqear47dehrsgtlvr/app.bsky.feed.generator/turkiye-siyaset
FEED_URI_SCIENCE=at://did:plc:tl4dbarzqear47dehrsgtlvr/app.bsky.feed.generator/turkiye-bilim
DATABASE_URL=postgresql://BURAYA_RAILWAY_DATABASE_URL_YAPISTIR